* {
    font-family: 'Poppins', sans-serif;
}

:root {
    --bs-primary: #409EFF;
    --bs-primary-rgb: 64, 158, 255;
    --bs-primary-text: #fff;

    --custom-dark: #303F4E;

    --box-shadow-cards: 0 7px 14px 0 rgba(65, 69, 88, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.modal-backdrop  {
    display: none;
}

.modal  {
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    border: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

::-webkit-scrollbar {
    width: 6px;
}


::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #d4d4d4;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #999999;
}

::placeholder {
    color: #b1b1b1 !important;
}

/* Botões */
.btn-primary {
    color: var(--bs-primary-text);
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.btn-primary:hover {
    color: var(--bs-primary-text);
    background-color: #3589e6;
    /* Cor um pouco mais escura para hover */
    border-color: #3589e6;
}

.btn-primary:focus,
.btn-primary.focus {
    color: var(--bs-primary-text);
    background-color: #3589e6;
    border-color: #3589e6;
    box-shadow: 0 0 0 0.2rem rgba(var(--bs-primary-rgb), 0.5);
}

.btn-primary:active,
.btn-primary.active,
.show>.btn-primary.dropdown-toggle {
    color: var(--bs-primary-text);
    background-color: #2f7dcf;
    /* Cor um pouco mais escura para active */
    border-color: #2f7dcf;
}

.btn-primary:active:focus,
.btn-primary.active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(var(--bs-primary-rgb), 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: var(--bs-primary-text);
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.btn-outline-primary {
    color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.btn-outline-primary:hover {
    color: var(--bs-primary-text);
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(var(--bs-primary-rgb), 0.5);
}

.btn-outline-primary:active,
.btn-outline-primary.active,
.show>.btn-outline-primary.dropdown-toggle {
    color: var(--bs-primary-text);
    background-color: #2f7dcf;
    border-color: #2f7dcf;
}

.btn-outline-primary:active:focus,
.btn-outline-primary.active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(var(--bs-primary-rgb), 0.5);
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
    color: var(--bs-primary);
    background-color: transparent;
}

.text-primary {
    color: var(--bs-primary) !important;
}

a.text-primary:hover,
a.text-primary:focus {
    color: #3589e6 !important;
}

a.text-primary:active {
    color: #2f7dcf !important;
}

.el-input .el-input__clear, .el-input .el-input__password {
    font-size: 20px !important;
}

.fs-7 {
    font-size: 0.9rem;
}

.fs-8 {
    font-size: 0.8rem;
}

.custom_dark {
    color: var(--custom-dark);
}

.bg-ice-white {
    background-color: #f8f9fa;
}

.bg-gray-200 {
    background-color: #f8f9fa;
}

.bg-gray-800 {
    background-color: #343a40;
}

.letter-spacing {
    letter-spacing: .1em;
}

.item_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cursor_pointer {
    cursor: pointer;
}

.outline_none {
    text-decoration: none;
}

.hover_primary:hover {
    color: var(--bs-primary) !important;
}

.custom_focus:focus {
    box-shadow: 0px 0px 3px 0px rgba(116, 166, 240, 0.788);
}

input[type="checkbox"]:focus {
    box-shadow: 0px 0px 3px 0px rgba(116, 166, 240, 0.788);
}

.field_invalid {
    border: 1px solid rgb(247, 69, 69);
}

.formNewCategory .el-collapse-item__header {
    color: var(--bs-primary) !important;
}

.formNewCategory .el-upload-dragger {
    padding: 15px;
}

.el-select__wrapper.is-disabled, .el-input.is-disabled .el-input__wrapper {
    background-color: #e9ecef;
}

.el-input__wrapper.is-focus {
    box-shadow: 0px 0px 3px 0px rgb(0, 102, 255);
    border-color: #86b7fe !important;
}

