* {
    font-family: 'Poppins', sans-serif;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

::-webkit-scrollbar {
    width: 6px;
}
  

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
  
::-webkit-scrollbar-thumb {
    background-color: #d4d4d4;
    border-radius: 3px;
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: #999999;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}